{% extends "short/base.html" %}
{% load static %}
{% block content %}
    <h1 class="page_title">Авторизация на сайте</h1>

    <div class="form_login">
        <form method="POST" class="form">
            {% csrf_token %}
            <label>
                <div class="form__label">Имя пользователя:</div>
                <input class="form__input" name="username" placeholder="Имя пользователя" type="text" required>
            </label>
            <label>
                <div class="form__label">Пароль:</div>
                <input class="form__input" name="password" placeholder="Пароль" type="password" required>
            </label>

            {% if error %}
                <p class="form__error">&bull; {{ error }}</p>
            {% endif %}
            <button class="form__button" type="submit">Вход</button>
            <p class="form__link">Нет аккаунта? <a href="{% url 'signup' %}">Регистрация</a></p>
        </form>

    </div>
{% endblock %}