<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сокращатель ссылок</title>
</head>
<body>
<header>
    <nav>
        <a class="header__nav-link" href="{% url 'home' %}">Главная</a>
        <a class="header__nav-link" href="{% url 'about' %}">Про нас</a>

        {% if user.is_authenticated %}
            <a class="header__nav-link" href="{% url 'profile' %}">Личный кабинет</a>
            <a class="header__nav-link" href="{% url 'link' %}">Ссылки</a>
        {% else %}
            <a class="header__nav-link" href="{% url 'login' %}">Войти</a>
            <a class="header__nav-link" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</header>
<main>
    <div class="main-page">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>