
    


    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сокращатель ссылок</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__nav-title">
                <a href="#">Сокращатель ссылок</a>
            </div>

            <div class="header__nav_links">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
                <a class="nav-link" href="{% url 'about' %}">Про нас</a>

                <a class="nav-link" href="{% url 'profile' %}">Личный кабинет</a>
                <a class="nav-link" href="{% url 'link' %}">Ссылки</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-page">
            <h1 class="page_title" style="font-size: 40px;">Вы успешно вышли с аккаунта</h1>
            <h2 class="page_description"><a href="{% url 'login' %}">Войти в личный кабинет снова</a></h2>
        </div>
    </main>
</body>

</html>